:root{
    --blue:#1fa2f1;
    --buttonHoverBg:#d4edff;
    --lightGrey:rgb(230,236,240);
    --spacing:15px;
    --blueLight:#9bd1f9;
    --greyText:rgb(101,119,134);
    --greyButtonText:rgba(0,0,0,0.34);
    --red:rgb(226,34,94);
    --redBgc:rgba(226,34,94,0.1);
    --green:rgb(23,191,99);
    --greenBgc:rgba(23,191,99,0.1);
    --blueBgc:rgba(212,237,255,0.6);
}
/*bcoz of the chatPage; but for all pages*/
html,body{
    height:100%;
    min-height:100%;
    background-color: #fff;
    font-weight:300
}
.wrapper{
    display: flex;
    flex-direction: column;
    height:100% /*of parent body tag*/
}

*{
    outline:none !important;
}

.wrapper > .row{ /*1st row instance found in wrapper*/
    margin:0;
    height:100% /*of parent wrapper tag*/
}

a{
    color:inherit
}
a:hover{
    color:inherit;
    text-decoration: none;
}
h1{
    font-size:19px;
    font-weight: 800;
    margin:0;
}
nav{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height:100%
}
nav a{
    display: block;
    padding: 10px;
    font-size:30px;
    width: 55px;
    height:55px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#212529
}
nav a.blue{
    color: var(--blue)
}
nav a:hover{
    background-color: var(--buttonHoverBg);
    color:var(--blue);
    border-radius: 50%;
}
button{
    background-color: transparent;
    border:none;
    color:var(--greyButtonText)
}
button i,
button span{
    pointer-events:none;
}
.mainSectionContainer{
    padding: 0;
    border-left: 1px solid var(--lightGrey);
    border-right: 1px solid var(--lightGrey);
    display: flex;
    flex-direction: column;
}
.titleContainer{
    height:53px;
    padding: 0 var(--spacing);
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--lightGrey);
    flex-shrink: 0;
}
.titleContainer h1{
    flex:1
}
.postFormContainer{
    display: flex;
    padding: var(--spacing);
    border-bottom: 10px solid rgb(230,236,240);
    flex-shrink: 0;
}
.userImageContainer{
    width:50px;
    height:50px;
}
.userImageContainer img{
    width:100%;
    border-radius: 50%;
    background-color: color;
}
.textareaContainer{
    flex:1;
    padding-left: var(--spacing);
}
.textareaContainer textarea{
    width: 100%;
    border:none;
    resize: none;
    font-size: 19px;
}
#submitPostButton{
    background-color: var(--blue);
    color:white;
    border:none;
    border-radius: 40px;
    padding: 7px,15px;
}
#submitPostButton:disabled{
    background-color: var(--blueLight);
}

.post{
    display: flex;
    flex-direction: column;
    padding: var(--spacing);
    cursor:pointer;
    border-bottom: 1px solid var(--lightGrey);
    flex-shrink: 0;
}
.mainContentContainer{
    float: 1;
    display: flex;

    overflow-y:hidden 
    /*scrollbar will kick in if theres overflow bcoz it's hidden so we need to scroll to see it*/
}
.postContentContainer{
    padding-left: var(--spacing);
    display: flex;
    flex-direction: column;
    flex:1;
}
.username,.date{
    color:var(--greyText)
}
.displayName{
    font-weight:bold
}
.postFooter{
    display: flex;
    align-items: item;
}
.postFooter .postBtnContainer{
    flex:1;
    display: flex;
}
.postFooter .postBtnContainer button{
    padding: 2px 5px; /*round 50% radius when hover button*/
}
.postHeader a:hover{
    text-decoration: underline;
}
.postHeader a, .postHeader span{
    padding-right: 5px;
}
.postBtnContainer button:hover{
    background-color: #d4edff;
    color:var(--blue);
    border-radius: 50%;
}
.postBtnContainer.red button.active{
    color:var(--red);
}
.postBtnContainer.red button:hover{
    color:var(--red);
    background-color: var(--redBgc);
}
.postBtnContainer.green button.active{
    color:var(--green);
}
.postBtnContainer.green button:hover{
    color:var(--green);
    background-color: var(--greenBgc);
}
.postActionContainer{
    padding-left:35px;
    font-size:13px;
    color:var(--greyText);
    margin-bottom: 5px;
}

.modal .postFormContainer{
    border:none;
    padding:0;
    padding-top:var(--spacing);
}
.modal .post{
    padding:0;
    padding-bottom: var(--spacing);
    padding: 0 0 var(--spacing) 0;
}

.replyFlag{
    margin-bottom: 5px;
}
.replyFlag a{
    color:var(--blue)
}

.post.largeFont .postBody,
.post.largeFont .postFooter
{
    font-size: 23px;
}

.postContentContainer .postHeader{
    display: flex;
}
.postContentContainer .postHeader .date{
    flex:1
}

.errMsg{
    padding: var(--spacing);
}


.profileHeaderContainer .coverPhotoSection{
    height:180px;
    background-color: var(--blue);
    position:relative
}
.profileHeaderContainer .userImageContainer{
    height:132px;
    width: 132px;
    margin-left: var(--spacing);
    position:absolute; /*nearest parent has position set*/
    bottom:-66px;
    /*centra camera*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.profileHeaderContainer .userImageContainer img{
    border:4px solid #fff
}

.profileHeaderContainer .profileButtonsContainer{
    text-align:right;
    padding:var(--spacing);
    min-height:66px
}
.profileButton, .followButton{
    border: 1px solid var(--blue);
    color:var(--blue);
    font-weight:bold; /*foro following*/
    padding: 5px 15px;
    border-radius:60px;
    display: inline-block;
    margin-left: var(--spacing);
}
.profileButton:hover, .followButton:hover{
    background-color: var(--blueBgc);
}
.followButton.following{
    background-color: var(--blue);
    color:#fff;
}
.profileHeaderContainer .userDetailsContainer{
    display: flex;
    flex-direction: column;
    padding: 0 var(--spacing);
}
.followersContainer .value{
    font-weight: bold;
    margin-right: 5px;
}
.followersContainer span:not(.value){
    color:var(--greyText)
}
.followersContainer a{
    margin-right: 15px;
}
.followersContainer a:hover{
    border-bottom: 1px solid #000;
}
.tabsContainer{
    display: flex;
    border-bottom: 1px solid var(--lightGrey);
    flex-shrink: 0;
}
.tab{
    flex:1;
    height:52px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--greyText);
    font-weight: bold;
}
.tab.active{
    color: var(--blue);
    border-bottom: 2px solid var(--blue);
}
.tab:hover{
    color: var(--blue);
    background-color:  var(--blueBgc);
}

/*f&F html element*/
.noResults{
    padding: var(--spacing);
}
.resultsContainer{
    display: flex;
    flex-direction: column; /*all users stack up*/
}
.resultsContainer .user{
    padding: var(--spacing);
    display: flex;
    border-bottom: 1px solid var(--lightGrey);
}
.user .userDetailsContainer{
    flex:1;
    padding: 0 var(var(--spacing))
}

/*profilePic*/
/*.profilePictureButton{*/ /*just profilePic*/
.profilePictureButton,.coverPhotoButton{ /*add coverPhoto*/
    position:absolute;
    font-size: 50px;
    color:rgba(0,0,0,0.6);
    display: none;
}
/* .profilePictureButton:hover */ /*corrected as below*/
/*
.userImageContainer:hover .profilePictureButton{
    display: block;
}
*/ /*above profilePic; updated as below incl coverPhoto*/
.userImageContainer:hover .profilePictureButton,
.coverPhotoSection:hover .coverPhotoButton{
    display: block;
}
.coverPhotoContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100% /*gives center (vertical) position*/
}
#imagePreview,
#coverPhotoPreview{
    width:100%;
    display: block;
    max-width: 100%;
}
.coverPhotoContainer img{
    width:100%;
    height:100%;
    /*aspect ratio or changing size of container but still image loss when expand & shrink webpage*/
    /*Object-fit*/
}

.pinnedButton.active{
    color:var(--blue)
}
.pinnedPostText{
    font-size:12px;
    color:var(--greyText)
}
.pinnedPostContainer{
    border-bottom: 10px solid rgb(230,236,240);
}
/*search*/
.searchBarContainer{
    position:relative;
    color:var(--greyText);
    padding: 10px var(--spacing);
}
.searchBarContainer i{
    position: absolute; /*nearest parent with position set*/ /*or wrapped in another element; flex*/
    top:20px;
    left:28px
}
.searchBarContainer #searchBox{
    height:36px;
    width: 100%;
    padding: 5px 15px 5px 40px; /*not overlapping the searchIcon*/
    border-radius: 50px;
    background-color: var(--lightGrey);
    border:none;
    color:var(--greyText)
}

/*chatRoom*/
.chatPageContainer{
    display: flex;
    flex-direction: column;
    min-height: 0;

    flex:1; /*take up whole height; take up all of teh availabel space that it has*/
    flex-basis:0 /*shrink to take up as little space as it can whilst fitting all of its content*/
    /*dont take up more space than ou need to in order to fill all the space u have*/
    /*so it will take up all of the space of the container it's in but it wont extend past container at all*/
}
.chatTitleBar{
    border-bottom: 1px solid var(--lightGrey);
    display: flex;
    align-items: center;
    min-height: 60px; /*will grow/expand the height */
    padding: 10px;
}
.chatTitleBar label{
    margin:0 10px 0 0 /*central, not using margin-right: 10px*/
}
#userSearchTextbox{
    border:none;
    flex: 1;
    font-weight: 200;
    min-width:350px; /*multi-lines or line overflowing; overflowing users; not flex here*/
}
#createChatButton{
    border:none;
    background-color: var(--blue);
    color:#fff;
    padding: 7px 20px;
    margin:10px auto; /*left & right equal length so centralise when the webpage's width larger or narrower*/
    border-radius:40px;
}
#createChatButton:disabled{
    background-color: var(--lightGrey);
    color:var(--greyText)
}

/*newMessage.pug*/
.selectedUser{
    font-weight: 300px;
    background-color: #cbe5fe;
    color:#0084ff;
    padding: 5px;
    border-radius: 3px;
    margin:5px 5px 0 0;
    display: inline-block; /*element appears sidebyside & will overflow when gets too large for the container*/
    /*as input field #userSearchTextbox has min-width of 350px*/
}

/*inboxPage*/
.resultListItem{
    padding: 7px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    border-bottom: 1px solid var(--lightGrey);
}
.resultListItem:hover{
    background-color: #f2f2f2;
}
.resultsDetailsContainer{
    display: flex;
    flex-direction: column;
    flex:1;
}
.resultsDetailsContainer .heading{
    font-weight:500;
}
.resultsDetailsContainer .subText{
    color:var(--greyText);
    font-size:14px
}
.resultListItem img{
    height:100%;
    width:100%;
    border-radius: 50%;
}
.resultsImagesContainer{
    height:40px;
    width:40px;
    position:relative;
    margin-right:10px;
    display: flex;
    align-items: center;
    padding: 5px
} /*above two: images will take up all the height of the container they are in*/
/*group chat having extra className: set imageposition to absolute*/
.groupChatImagesContainer img{
    height:65%;
    width:65%;
    position:absolute;
    bottom:0; /*2 images stack up*/
    margin:0; /*remove margin-right 10px*/
    border:2px solid #fff
}
.groupChatImagesContainer img:first-of-type{
    top:0;
    right:0
}
.ellipsis{
    white-space:nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}

/*chatPage.pug*/
.chatTitleBarContainer{
    border-bottom: 1px solid var(--lightGrey);
    display: flex;
    align-items: center;
    padding: var(--spacing)
}
#chatName{
    width:100%;
    border:1px solid transparent; /*to start w; hover -> shows & just like textbox*/
    padding: 0 5px; /*for images*/
}
#chatName:hover{
    border: 1px solid #e9e9e9;
    cursor:text;
}
.chatContainer{
    flex:1; /*take up al width*/
    display: flex;
    flex-direction: column;
    overflow-y: hidden; /*hidden from parentContainer*/
}
.chatContainer .footer{
    display: flex;
    padding: var(--spacing);
    flex-shrink: 0px;
}
.chatContainer .footer textarea{
    flex:1;
    resize:none; /*users cannot expand textarea*/
    background-color: rgba(0,0,0,0.05);
    border-radius: 18px;
    border:none;
    padding: 8px 12px;
    height:38px /*not grow when text starts overflow; already starts w */
}
.chatContainer .footer button{
    background-color: transparent;
    color:var(--blue);
    font-size: 24px;
}
.chatMessages{
    flex:1;
    display: flex;
    overflow-y: auto; /*show scrolll bar on y axis if overflow*/
    flex-direction: column;
    padding: var(--spacing);
}
.chatImagesContainer{
    display: flex;
    flex-direction: row-reverse; /*margin-left in img below*/
    height:100%;
    margin-right: 10px; /*space to text*/
}
.chatImagesContainer img{
    width:40px;
    height:40px;
    border: 2px solid #fff;
    border-radius: 50%;
    /*margin-left:-10px; //row-reverse above from parent Container*/
}
.chatImagesContainer img:not(:last-child),
.chatImagesContainer .userCount{ /*apply to num; +remainingUsers*/
    margin-left: -10px; /*row-reverse above from parent Container*/
}
.chatImagesContainer .userCount{ /*apply to num; +remainingUsers*/
    height:40px;
    width:40px;
    background-color: #f1f1f1;
    border-radius: 50%;
    align-items: center;
    justify-self: center;
    font-size: 14px;
    border:2px solid #fff
}
/*modal for changing chat name*/
#chatNameTextbox{
    width:100%
}


/*222 send messages in a chat: li class defined in chatPage.js for sedning messages*/
.chatMessages .message{
    padding-bottom: 2px;
    list-style: none;
    display: flex;
    align-items: flex-end; /*push down to bottom*/
    flex-shrink:0;
    -webkit-flex:0; /*fix unscrolling, overlap, squashed on top of each other issue*/
}
.chatMessages .message .messageBody {
    background-color: #f1f0f0;
    padding: 6px 12px;
    border-radius: 18px;
    font-size: 14px;
}
.chatMessages .message .messageContainer{
    max-width: 55%;
    display: flex;
    flex-direction: column;
}
.chatMessages .message.mine{
    flex-direction: row-reverse;
}
.chatMessages .message.mine .messageBody {
    background-color: var(--blue);
    color:#fff
}

.chatMessages .message.mine .messageContainer{
    align-items: flex-end;
}
.chatMessages .message.theirs .messageContainer{
    align-items: flex-start; /*push to the start; not taking up whole space/width; defualt stretch*/
}

.chatMessages .message.mine.first .messageBody{
    border-bottom-right-radius: 2px;
}
.chatMessages .message.mine:not(.first):not(.last) .messageBody{
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}
.chatMessages .message.mine.last .messageBody{
    border-bottom-right-radius: 18px;
}
.chatMessages .message.mine.last:not(.first) .messageBody{
    border-top-right-radius: 2px;
}
/*theirs*/
.chatMessages .message.theirs.first .messageBody{
    border-bottom-left-radius: 2px;
}
.chatMessages .message.mine:not(.first):not(.last) .messageBody{
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}
.chatMessages .message.theirs.last .messageBody{
    border-bottom-left-radius: 18px;
}
.chatMessages .message.mine.last:not(.first) .messageBody{
    border-top-left-radius: 2px;
}

.senderName{
    color:rgba(0,0,0,0.4)
}

.chatMessages .imageContainer{
    height:24px;
    width: 24px;
    margin-right:7px; /*space btween image & container*/
}
.chatMessages img{
    height:100%;
    border-radius: 50%;
    vertical-align: bottom;
}

.chatMessages .message.last{
    margin-bottom: 7px; /*distance btween last msg & next msg*/
}

.loadingSpinnerContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /*support horizontally centered*/
}
.loadingSpinnerContainer img{
    width: 50%;
    max-width: 75px;
}