extends layouts/main-layout
//-copied from inboxPage

block content
    script. 
        var userLoggedInJs=!{userLoggedInJs_notification}
    
    .resultsContainer

block headerButton 
    //-a(href="/") //-copied from inboxPage
    button#markAsNotificationsAsRead
        //-full url path from app.js to notificationRoutes.js 
        i.fas.fa-check-double

block scripts 
    script(src='/js/notificationsPage.js')
    //-need .js here; from joint public folder (joint in app.js)