extends layouts/main-layout
//- similar to home.pug here

block content
    script. 
        var userLoggedInJs=!{userLoggedInJs_post} 
    script. 
        var postID='!{postID}'
    .postsContainer

    +createReplyModal(userLoggedIn_post)
    +createDeletePostModal(userLoggedIn_post)
    +createPinnedPostModal(userLoggedIn_post)

block scripts 
    script(src='/js/postPage.js')
